@using SecureParcel.Models
@using SecureParcel.Resources
@model LoginViewModel

@{
    ViewBag.Title = "Login to your account";
}

<style>
    .welcome__info {
        max-width: 500px;
        padding-bottom: 130px;
    }

        .welcome__info > :first-child {
            margin-bottom: 10px
        }
</style>

<section class="welcome" id="welcome">
    <div class="container flex row jcsb">
        <div class="welcome__info">
            <h1 class="title title--red">@Resource.Account_Login_Block1_Text_1_1</h1>
            <p>&nbsp;</p>
            <p>@Resource.Account_Login_Block1_Text_1_2</p>
        </div>
        <div class="forms">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form flex column", role = "form" }))
            {
            <h2 class="text--middle">@Resource.Account_Login_Block1_Text_2_1</h2>
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form__input", @placeholder = "Email" })

                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                @Html.PasswordFor(m => m.Password, new { @class = "form__input", @placeholder = "Password" })

                <div class="form__field">
                    <input type="checkbox" id="checkbox">
                    <label class="text--dark" for="checkbox">@Resource.BTN_Remember_me</label>
                </div>
                <input class="button button--red button--big" type="submit" value="@Resource.BTN_Sign_in">
            }

            <section class="form flex column">
                <h2 class="text--middle">@Resource.Account_Login_Block1_Text_2_2</h2>
                <a href="/Account/Register" class="button button--red button--big">@Resource.BTN_Sign_up </a>
            </section>
        </div>
    </div>
</section>
<section class="list" id="list">
    <div class="container flex row jcsb">
        <div class="list__case flex column jcsb aic">
            <div class="list__img"> <img src="/img/icon_1.svg" alt="Icon" /></div>
            <p class="mt20 title--red">@Resource.Account_Login_Block2_Text_1_1</p>
            <p class="mt20">@Resource.Account_Login_Block2_Text_1_2</p>
        </div>
        <div class="list__case flex column jcsb aic">
            <div class="list__img"> <img src="/img/icon_2.svg" alt="Icon" /></div>
            <p class="mt20 title--red">@Resource.Account_Login_Block2_Text_2_1</p>
            <p class="mt20">@Resource.Account_Login_Block2_Text_2_2</p>
        </div>
        <div class="list__case flex column jcsb aic">
            <div class="list__img"> <img src="/img/icon_3.svg" alt="Icon" /></div>
            <p class="mt20 title--red">@Resource.Account_Login_Block2_Text_3_1</p>
            <p class="mt20">@Resource.Account_Login_Block2_Text_3_2</p>

        </div>
    </div>
</section>
<section class="why" id="why">
    <div class="container">
        <h2 class="title--red text-center">@Resource.Account_Login_Block3_Text_Title</h2>
        <p>&nbsp;</p>
        <div class="row-x">
            <div class="left">
                <img src="/img/cs-parcel.jpg" class="imger" />
            </div>
            <div class="right">
                <p>@Resource.Account_Login_Block3_Text_1_1 <br /> @Resource.Account_Login_Block3_Text_1_2</p>
                <p>@Resource.Account_Login_Block3_Text_2_1</p>
                <p>@Resource.Account_Login_Block3_Text_3_1</p>
            </div>
        </div>

        <div class="hidden">
            <p>The key difference is that blockchain is the most reliable environment that everyone trusts. This is the same for the Credits blockchain itself, which has no central administrator. With Credits, you can transfer not only money, but also securities and any movable property. In this case, the intermediary can not only be a bank but also, for example, a public notary.</p>
            <p>Blockchain escrow solves the problem of mistrust between participants conducting a transaction. They do not know each other, but trust the third-party Credits blockchain system. This is an alternative to a safe deposit box, or an accreditation letter is the next step in the development of automated services like self-driving cars, AI, robotics.</p>
            <p>&nbsp;</p>
            <h3 class="title--red">How to use an escrow account?</h3>
            <ul class="texter">
                <li>The buyer and seller agree that the goods will be received via the DHL delivery service. In the service which runs on Credits, the sender creates a smart contract and indicates the terms, amount, and other conditions.</li>
                <li>The buyer pays money to the account of the smart contract.</li>
                <li>Alice the seller sends the goods and, fulfilling the delivery conditions, DHL transmits a command that acts as a trigger for the fulfilled condition.</li>
                <li>A smart contract on Credits unlocks the funds, either by releasing money, or transferring it to another account using a third-party service or bank.</li>
            </ul>
            <p>If delivery does not occur within the agreed time, the blockchain suspends the transaction and returns the money to the buyer.</p>
            <p>&nbsp;</p>
            <h3 class="title--red">Why use the Credits blockchain?</h3>
            <p>Because Credits blockchain is an independent third-party autonomous system that works completely independently, continuously and no one on the globe can resist it. This is a key difference between Credits blockchain and conventional banking, or any other escrow services.</p>
            <p><b>Transparency</b> - The smart contract code is open, and cannot be changed during the process.</p>
            <p><b>Safety of money</b></p>
            <p>Storing money in a safe deposit box, or a bank account is usually more reliable than at home. It is unlikely that your apartment has the same multi-stage security system and protection as a bank.</p>
            <p>&nbsp;</p>
            <h3 class="title--red">Who owns the money in an escrow account?</h3>
            <p>The money is withheld in the smart contract account on Credits blockchain. The money is released to the seller only upon fulfillment of the prescribed terms and conditions stipulated in the agreement.</p>
            <p class="title--red">The following types of money can be used.</p>
            <ul class="texter">
                <li>Cryptocurrencies  issued on Credits blockchain</li>
                <li>Credits (CS)  cryptocurrency</li>
                <li>Dollars, Euros, or any other currency via a bank, or financial service (an unlock command is sent by the blockchain)</li>
            </ul>
        </div>
        <a class="button button--red button--big" href="javascript:void(0);" id="tuglu" onclick="togglero();">@Resource.BTN_Continue_reading</a>
    </div>
</section>
<section class="trace" id="trace">
    <div class="container">
        <h2 class="title--red text-center">@Resource.Account_Login_Block4_Text_Title</h2>
        <div class="trace__wrapper flex row jcsb">
            <div class="trace__case flex column jcsb">
                <div class="trace__img"> <img src="/img/icon-1.png" alt="Icon" /></div>
                <p class="text--bold">@Resource.Account_Login_Block4_Text_1_1</p>
                <p>@Resource.Account_Login_Block4_Text_1_2</p>
            </div>
            <div class="trace__case flex column jcsb">
                <div class="trace__img"> <img src="/img/icon-2.png" alt="Icon" /></div>
                <p class="text--bold">@Resource.Account_Login_Block4_Text_2_1</p>
                <p>@Resource.Account_Login_Block4_Text_2_2</p>
            </div>
            <div class="trace__case flex column jcsb">
                <div class="trace__img"> <img src="/img/icon-3.png" alt="Icon" /></div>
                <p class="text--bold">@Resource.Account_Login_Block4_Text_3_1</p>
                <p>@Resource.Account_Login_Block4_Text_3_2</p>
            </div>
        </div>
    </div>
</section>
<section class="management" id="management">
    <div class="container">
        <h2 class="title--red text-center">@Resource.Account_Login_Block5_Text_Title</h2>
        <p>&nbsp;</p>
        <div class="management__slider">
            <div class="management__wrapper" id="slider">
                <div class="management__slide"> <img src="/img/slide1.png" alt="Slide" /></div>
                <div class="management__slide"> <img src="/img/slide2.png" alt="Slide" /></div>
            </div>
        </div><a class="button button--red button--big" href="">@Resource.BTN_Send_parcel</a>
    </div>
</section>