@model SecureParcel.Models.ParcelModel
@using SecureParcel.Classes

@{
    ViewBag.Title = "Send parcel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.ParcelList.Count == 0)
{
    <section class="send parcel section">
        <div class="container">
            <div class="parcel__block flex aic jcc column" id="add-btn">
                <p class="text--middle text-center">Send a new parcel</p>
                <div class="send__block-img mt20"><img src="/img/icon-delivery.svg" alt="Icon"></div>
            </div>
            <h1 class="title title--grey text-center">You have not yet had parcel shipments. Click on “Send a new parcel”</h1>
        </div>
    </section>
}
else
{
    <p class="table-header">Send parcel</p>

    <section class="reciever container">
        <table class="table" id="table">
            <thead>
                <tr>
                    <th style="display:none">ID</th>
                    <th>Reciever</th>
                    <th>Cost parcel</th>
                    <th>Created at</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.ParcelList)
                {
                    <tr>
                        <td style="display:none">@row.GUID</td>
                        <td>@row.RecipientName</td>
                        <td>@row.Amount</td>
                        <td>@row.CreatedAt.ToLocalTime()</td>
                        <td>@row.Status.GetDescription()</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr><td colspan="5"><button class="button--new-parcel" id="add-btn">Add a new parcel</button></td></tr>
            </tfoot>
        </table>
    </section>
}

<script>

    $(document).ready(function () {
        $('#get-link').addClass('button--grey').removeClass('button--red');
        $('#send-link').addClass('button--red').removeClass('button--grey');
    });

</script>