@using SecureParcel.Resources
@{
    ViewBag.Title = "SentShipment_Demo_2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="Shipments flex column" id="main">

    <div class="Shipments-content container mb-15">

        <div class="row-box flex border-bottom-red">
            <div class="">
                <div class="container">
                    <h2>
                        <strong>Step 2:</strong>
                        <span style="font-weight: 400;">Recipient sees the shipment details and pays the amount into the Escrow account</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="cardsBox flex">
            <div class="cards flex column">
                <div class="cards_blocked"></div>
                <div style="margin-bottom: 24px; font-size: 24px;"><strong>@Resource.Demo_Senders_Portal</strong></div>
                <div class="item">
                    <div>@Resource.Demo_Sender</div>
                    <div class="flex row">
                        <div>@Resource.Demo_Name*</div>
                        <div>Alice Grey</div>
                    </div>
                    <div class="flex row">
                        <div>@Resource.Demo_Public_Key* <a href="javascript:void(0);" class="question">?</a></div>
                        <div>jfds7v980vdf896sd0s0vcxv9fs8y7</div>
                    </div>
                    <div class="flex row">
                        <div>@Resource.Demo_Address*</div>
                        <div>Los Angeles</div>
                    </div>
                </div>
                <div class="item">
                    <div style="margin-bottom: 10px;">@Resource.Demo_Payment</div>
                    <div class="flex row" style="align-items: center; margin-bottom: 16px;">
                        <div>@Resource.Demo_Cost_cs*</div>
                        <div class="flex" style="align-items: center; width: auto;">
                            <div style="margin-right: 50px; padding: 10px 0;">700</div>
                            @*<a href="javascript:void(0);" class="btn-red">Оплатить</a>*@
                        </div>
                    </div>
                    <div class="flex row">
                        <div>@Resource.Demo_Date_of_payment*</div>
                        <div>@Resource.Demo_Not_paid</div>
                    </div>
                    <div class="flex row">
                        <div>@Resource.Demo_Invoice*</div>
                        <div>jfds7v980vdf896sd0s0vcxv9fs8y7</div>
                    </div>
                    @*<div class="flex row">
            <div></div>
            <div><span class="btn-red" style="background-color: transparent"></span></div>
        </div>*@
                </div>
                <div class="item">
                    <div>@Resource.Demo_More_information</div>
                    <div class="flex row">
                        <div>@Resource.Demo_Comments:</div>
                        <div style="height: 50px;">@Resource.Demo_Comments_Text</div>
                    </div>
                </div>
                <div class="item">
                    <div>@Resource.Demo_Receiver</div>
                    <div class="flex row">
                        <div>@Resource.Demo_Name*</div>
                        <div>Bob Dylan</div>
                    </div>
                    <div class="flex row">
                        <div>@Resource.Demo_Public_Key* <a href="javascript:void(0);" class="question">?</a></div>
                        <div>bhjfsd89fsdv98yvsd98sdv9u8svd98udv</div>
                    </div>
                    <div class="flex row">
                        <div>@Resource.Demo_Address*</div>
                        <div>California</div>
                    </div>
                </div>
                <div class="item">
                    <div>@Resource.Demo_Delivery</div>
                    <div class="flex row">
                        <div>@Resource.Demo_Delivery_Status:</div>
                        <div>@Resource.Demo_Not_Sent</div>
                    </div>
                    <div class="flex row">
                        <div>@Resource.Demo_Date_of_departure:</div>
                        <div>@Resource.Demo_Not_Sent</div>
                    </div>
                    <div class="flex row">
                        <div>@Resource.Demo_Tracking_number:</div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </div>

            <div class="cards active flex column">
                @*<div class="cards_blocked"></div>*@
                <div style="margin-bottom: 24px; font-size: 24px;"><strong>@Resource.Demo_Receivers_Portal</strong></div>
                <div class="item">
                    <div>@Resource.Demo_Sender</div>
                    <div class="flex row">
                        <div>@Resource.Demo_Name*</div>
                        <div>Alice Grey</div>
                    </div>
                    <div class="flex row">
                        <div>@Resource.Demo_Public_Key* <a href="javascript:void(0);" class="question">?</a></div>
                        <div>jfds7v980vdf896sd0s0vcxv9fs8y7</div>
                    </div>
                    <div class="flex row">
                        <div>@Resource.Demo_Address*</div>
                        <div>Los Angeles</div>
                    </div>
                </div>
                <div class="item">
                    <div style="margin-bottom: 10px;">@Resource.Demo_Payment</div>
                    <div class="flex row" style="align-items: center; margin-bottom: 16px;">
                        <div>@Resource.Demo_Cost_cs*</div>
                        <div class="flex" style="align-items: center; width: auto;">
                            <div style="margin-right: 50px; padding: 10px 0;">700</div>
                            <a href="javascript:void(0);" class="btn-pay btn-red box_shadow_active">@Resource.Demo_Pay</a>
                        </div>
                    </div>
                    <div class="flex row">
                        <div>@Resource.Demo_Date_of_payment*</div>
                        <div>@Resource.Demo_Not_paid</div>
                    </div>
                    <div class="flex row">
                        <div>@Resource.Demo_Invoice*</div>
                        <div>jfds7v980vdf896sd0s0vcxv9fs8y7</div>
                    </div>
                    @*<div class="flex row">
                        <div></div>
                        <div></div>
                    </div>*@
                </div>
                <div class="item">
                    <div>@Resource.Demo_More_information</div>
                    <div class="flex row">
                        <div>@Resource.Demo_Comments:</div>
                        <div style="height: 50px;">@Resource.Demo_Comments_Text</div>
                    </div>
                </div>
                <div class="item">
                    <div>@Resource.Demo_Receiver</div>
                    <div class="flex row">
                        <div>@Resource.Demo_Name*</div>
                        <div>Bob Dylan</div>
                    </div>
                    <div class="flex row">
                        <div>@Resource.Demo_Public_Key* <a href="javascript:void(0);" class="question">?</a></div>
                        <div>bhjfsd89fsdv98yvsd98sdv9u8svd98udv</div>
                    </div>
                    <div class="flex row">
                        <div>@Resource.Demo_Address*</div>
                        <div>California</div>
                    </div>
                </div>
                <div class="item">
                    <div>@Resource.Demo_Delivery</div>
                    <div class="flex row">
                        <div>@Resource.Demo_Delivery_Status:</div>
                        <div>@Resource.Demo_Not_Sent</div>
                    </div>
                    <div class="flex row">
                        <div>@Resource.Demo_Date_of_departure:</div>
                        <div>@Resource.Demo_Not_Sent</div>
                    </div>
                    <div class="flex row">
                        <div>@Resource.Demo_Tracking_number:</div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container flex jcsb">
            <a href="/SendParcel/SentShipment_Demo" class="btn-red">@Resource.Demo_Previous_step</a>
            <a href="/SendParcel/SentShipment_Demo_3" class="btn-red">@Resource.Demo_Next_Step</a>
        </div>

    </div>


</section>

<div class="modal modal-YourTransaction is-hidden">
    <div class="modal-itemBox">
        <div class="modal-item">
            <div class="part1">
                <h2 class="mb-15">Your transaction:</h2>
                <a href="https://monitor.credits.com/testnet-r4_2/transaction/3556370.2" style="margin-bottom: 50px; display: block;">https://monitor.credits.com/testnet-r4_2/transaction/3556370.2</a>
            </div>
            <p class="mb-35" style="max-width: 100%; width: 680px; padding: 0 15px;">
                Your funds have been transferred to the escrow account. 
                <br />
                At the time of delivery, your money will be  transferred to sender's account.
            </p>
            <a href="javascript:void(0);" class="modal-YourTransaction-btn-Close btn-red" style="width: 246px; max-width: 100%;">Close</a>
        </div>
    </div>
</div>



<style>
    .modal-itemBox{
        position: absolute;
        width: 800px;
        height: 430px;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        background: #F8F8F8;
        padding: 27px 15px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .modal-itemBox *{
        font-family:Avant;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
    }
    .modal-item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .modal-item .part1 a{
        font-weight: 700;
    }
</style>

<script>
$(document).ready(function() {
    $(".btn-pay").on('click', function () {
        $(".modal-YourTransaction").removeClass('is-hidden');
        $("body").css('overflow', 'hidden');
    });
    $(".modal-YourTransaction-btn-Close").on('click', function () {
        $(".modal-YourTransaction").addClass('is-hidden'); 
        $("body").css('overflow', 'initial');
    });
});
</script>